* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
}

.search-form {
  display: inline-block;
  margin-inline: auto;
  position: relative;
}

.search-fieldset {
  position: relative;
  margin: auto;
  width: 60%;
  min-width: 300px;
  border: 0;
}

.search-bar {
  width: 100%;
  border-radius: 10px;
  padding: 8px 40px 8px 5px;
  font-size: 20px;
  border: none;
  background-color: #f8f8f8;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button svg {
  font-size: 20px;
  color: #609e92;
}

.admin-name {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 30px;
}

/*Responsiveness*/
@media screen and (min-width) {
  
}