.header {
    top: 10px;
    position: absolute;
    right: 30px;
overflow-y: hidden;
}

.admin-info {
    display: flex;
    align-items: center;
}

.admin-info > svg {
    margin-right: 10px;
}

@media screen and (max-width: 1080px) { 
    .header {
        top: 5px;
        right: 15px;
    }
    .admin-info>svg {
        margin-right: 5px;
    }
}