

.MuiPaper-root>.MuiToolbar-root {
    background: #40b2c2;
    color: #fff;
}

.MuiSvgIcon-root:hover,
.MuiButtonBase-root:hover {
    color: #000 !important;
}

.MuiPaper-root>.MuiToolbar-root .MuiButtonBase-root,
.MuiPaper-root>.MuiToolbar-root .MuiSvgIcon-root {
    color: #fff;
}

.addkpi{
   margin-top: 10px;
}
.kpititle{
    font-weight: bold;
    font-size: 20px;
    margin-left:2px ;
}